body {
    font-family: 'Open Sans', sans-serif;
}

.main-menu-wrapper {
    float: right;
    background-color: #021147;
    width: 230px;
    position: relative;
    min-height: 100vh;

}

.main-menu-wrapper .logo-wrapper {
    background-color: #a48bd5;
    width: 100%;
    float: left;
    min-height: 85px;
    color: #fff;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
}

.main-menu {
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
}

.main-menu li {
    list-style: none;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
}

.main-menu li:hover {
    cursor: pointer;
}

.main-menu li a {
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    padding: 15px 20px;
    box-sizing: border-box;
}

.img-logo{
    width: 170px;
    float: center;
    height: 150px;
    margin:0 auto;
}

.img-logo .icon {
    width: 100%;
    height: 100%;
    fill: #9899a2;
}

.main-menu li .img-wrapper {
    width: 20px;
    float: right;
    height: 20px;
}

.main-menu li .img-wrapper .icon {
    width: 100%;
    height: 100%;
    fill: #9899a2;
}

.main-menu li.item.active>a .text-wrapper .text {
    color: #fff;
}

.main-menu li.item.active>a .icon {
    fill: #5ca8b9;
}

.main-menu li:hover>a {
    background-color: #1d202d;
}

.main-menu li:hover>a .icon {
    fill: #fff;
}

.main-menu li:hover>a .text {
    color: #fff;
}

.main-menu li .text-wrapper {
    width: calc(100% - 20px);
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    color: #9899a2;
    padding: 5px 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
}


.round-bar {
    background-color: #777777;
    font-size: 80px;
    color: #fff;
    float: none;
    margin: 0 auto;
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #cccccc;
}

.round-bar>span {
    color: #fff;
}

.round-bar>span.completed {
    float: left;
    width: 100%;
    font-size: 12px;
    top: 45px;
}

.round-bar>span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: -15px;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #fff;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.round-bar *,
.round-bar *:before,
.round-bar *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.round-bar .slice {
    clip: rect(auto, auto, auto, auto);
    position: absolute;
    width: 1em;
    height: 1em;
}

.round-bar:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #666666;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.round-bar .bar,
.round-bar .fill {
    border-color: #a48bd5 !important;
}

.round-bar .bar {
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    transform: rotate(252deg);
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}

.round-bar .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.round-bar:hover>span.completed {
    color: #fff;
    width: 8em;
    line-height: 4.5em;
    font-size: 0.12em;
}

.round-bar:hover>span {
    color: #fff;
    width: 100%;
    line-height: 3.8em;
    font-size: 0.25em;
}

.round-bar:hover:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}